@import '@styles/main.scss';

.inputbar {

  width: auto;

  padding: 12px 20px;
  z-index: 999;

  &__form {
    @include flex-center;
    justify-content: center;
    align-items: center;

    background-color: $textarea-color;
    padding: 15px 15px;
    border-radius: 20px;

    &__input {
      width: 570px;
      height: auto;

      @include roboto-r(24px);
    }

    &__btn {
      @include flex-center;
      justify-content: center;

      background-color: $accent-color;
      width: 36px;
      height: 36px;
      border-radius: 50px;

      box-shadow: 0px 0px 20px $accent-shadow-color;

      margin-left: 10px;

      cursor: pointer;
    }
  }
}
