$accent-color: #3b82f6;
$accent-shadow-color: rgba(59, 130, 246, 0.25);
$hover-form-color: #d73d91;
$switch-teme-color: #172149;
$complete-color: #b1dfa8;
$error-color: #d20000;
$pagination-color: #9cbff9;
$textarea-color: #1e293b;
$inputbg-color: #e9e7f4;
$menutext-color: #e5e7eb;
$maintext-color: #333333;
$table-color: #e5e7eb;
