$accent-color: #3B82F6;
$hover-form-color: #D73D91;
$switch-teme-color: #172149;
$complete-color: #B1DFA8;
$error-color: #D20000;
$pagination-color: #9CBFF9;
$textarea-color: #1E293B;
$inputbg-color: #E9E7F4;
$menutext-color: #E5E7EB;
$maintext-color: #333333;
