@import '@styles/main.scss';

.auth {
  &__inner {
    display: flex;
    align-items: center;
    gap: 125px;

    padding: 20px;

    height: 100vh;
  }

  &__image {
    border-radius: 30px;
  }
}
